* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-size: ;
  font: ;
  color: ;
  line-height: ;
  padding-left: ;
  padding-right: ;
  padding-top: ;
  background-color: aqua;
}


header {
    
}